@tailwind base;
@tailwind components;
@tailwind utilities;

/* #E4B1F0 */
body {
  background: rgba(228, 177, 240, 0.4)
}

footer {
  color: #2E073F
}

.deleteBtn {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-left: 1rem;
}

.maintainHeight {
  min-height: 80.85vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}